@model List<Dot.ERP.Objects.SysMenu>

<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">
        <li>
            <div class="sidebar-toggler hidden-phone"></div>
        </li>
        <li>
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search">
                <div class="input-box">
                    <a href="javascript:;" class="remove"></a>
                    <input type="text" placeholder="Search...">
                    <input type="button" class="submit" value=" ">
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var first in Model)
            {
                <li class="@(first.SysNo == Model.First().SysNo ? "start active" : "")">
                    @if (first.ChildMenu != null && first.ChildMenu.Count() > 0)
                    {
                        <a href="javascript:void(0);">
                            <i class="@first.Icon"></i>
                            <span class="title">@first.Name</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            @foreach (var second in first.ChildMenu)
                            {
                                if (second.ChildMenu != null && second.ChildMenu.Count() > 0)
                                {
                                    <li>
                                        <a href="javascript:void(0)">@second.Name<span class="arrow"></span></a>
                                        <ul class="sub-menu">
                                            @foreach (var third in second.ChildMenu)
                                            {
                                                <li><a href="javascript:void(0);" data-menuno="@(third.MenuNo)" data-url="@(string.IsNullOrEmpty(third.Href) ? "javascript:void(0)" : third.Href.Trim())" onclick="setFrameUrl(this)">@third.Name</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a href="javascript:void(0);" data-menuno="@(second.MenuNo)" data-url="@(string.IsNullOrEmpty(second.Href) ? "javascript:void(0)" : second.Href.Trim())" onclick="setFrameUrl(this)">@second.Name</a></li>
                                }
                            }
                        </ul>
                    }
                    else
                    {
                        <a href="javascript:void(0);" data-menuno="@(first.MenuNo)" data-url="@(string.IsNullOrEmpty(first.Href) ? "javascript:void(0)" : first.Href.Trim())" onclick="setFrameUrl(this)">
                            <i class="@first.Icon"></i>
                            <span class="title">@first.Name</span>
                            @if (first.SysNo == Model.First().SysNo)
                            {
                                <span class="selected"></span>
                            }
                        </a>
                    }
                </li>
            }
        }

    </ul>
</div>