@model List<Dot.ERP.Objects.Menu>

<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">
        <li>
            <div class="sidebar-toggler hidden-phone"></div>
        </li>
        <li>
            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
            <form class="sidebar-search">
                <div class="input-box">
                    <a href="javascript:;" class="remove"></a>
                    <input type="text" placeholder="Search...">
                    <input type="button" class="submit" value=" ">
                </div>
            </form>
            <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var first in Model)
            {
                <li class="@(first.SysNo == Model.First().SysNo ? "start active" : "")">
                    @if (first.Menus != null && first.Menus.Count() > 0)
                    {
                        <a href="javascript:void(0);">
                            <i class="icon-sitemap"></i>
                            <span class="title">@first.Name</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            @foreach (var second in first.Menus)
                            {
                                if (second.Menus != null && second.Menus.Count() > 0)
                                {
                                    <li>
                                        <a href="javascript:void(0)">@second.Name<span class="arrow"></span></a>
                                        <ul class="sub-menu">
                                            @foreach (var third in second.Menus)
                                            {
                                                <li><a href="javascript:void(0);" data-url="@(string.IsNullOrEmpty(third.Url) ? "javascript:void(0)" : third.Url.Trim())" onclick="setFrameUrl(this)">@third.Name</a></li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li><a href="javascript:void(0);" data-url="@(string.IsNullOrEmpty(second.Url) ? "javascript:void(0)" : second.Url.Trim())" onclick="setFrameUrl(this)">@second.Name</a></li>
                                }
                            }
                        </ul>
                    }
                    else
                    {
                        <a href="javascript:void(0);" data-url="@(string.IsNullOrEmpty(first.Url) ? "javascript:void(0)" : first.Url.Trim())" onclick="setFrameUrl(this)">
                            <i class=" icon-sitemap"></i>
                            <span class="title">@first.Name</span>
                            @if (first.SysNo == Model.First().SysNo)
                            {
                                <span class="selected"></span>
                            }
                        </a>
                    }
                </li>
            }
        }

    </ul>
</div>